/*
*Estilos de bases de datos Telemxhub
*/
html{
	//color: #FFFFFF;
	//background-color: #000000;

	position: relative; 
  min-height: 100%;
}

body{
	margin: 0 0 5px;
}
nav{
	//border: solid red;
}
.container-fluid{
	background-color: deepskyblue;
}

nav a img{
	width:5%;
	height: auto;
	padding-left: 10%;
}

.content{
	//color: #00FF00;
	//border: solid red;
}
h1, h2{
	text-align: center;
}

.formulario{
	width: 80%;
	border: solid;
	margin-right: auto;
	margin-left: auto;
}

// table{
// 	border: #0033FF;
// 	width: 80%;
// 	text-align: center;
// 	margin-left: auto;
// 	margin-right: auto;
// }


.table, .table td, .table tr, th {
 padding:0px;
 border-spacing: 0px;
 text-align: center;
 border: 1px solid; 
}
 
.table {
 border:1px black solid;
 border-radius:5px;
 min-width:600px;
 font-family: Helvetica,Arial;
 margin-left: auto;
 margin-right: auto;
}
 
.table td {
 padding:6px;
}
 
.table tr:first-child td:first-child {
 border-radius:5px 0px 0px 0px;
}
 
.table tr:first-child td:last-child {
 border-radius:0px 5px 0px 0px;
}
 
.table tr:last-child td:first-child {
 border-radius:0px 0px 0px 5px;
}
 
.table tr:last-child td:last-child {
 border-radius:0px 0px 5px 0px;
}
 
.table td:not(:last-child) {
 border-right:1px #666 solid;
}
 
 
.table tr:nth-child(2n) {
 background: #87CEEB;
}
 
.table tr:nth-child(2n+1){
 background: #ADD8E6;
}
 
.table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
 background:#E0FFFF;
}
 
.table:not(.header) tr {
 text-align: left;
}
 
.table.header tr:first-child {
 font-weight: bold;
 color:#fff;
 background-color: #444;
 border-bottom:1px #000 solid;
}
 
.table.header tr:nth-child(n+2) {
 text-align: right;
}

nav ul{
	list-style-type: none;
}

footer{
	//border: solid red;
	
	width: 100%;
  bottom: -2%;
  position: absolute;
  height: 65px;
}